html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*/////// FIN DU RESET //////*/

.pokedex {
	margin: auto;
	width: 500px;
	background-color: grey;
	padding: 10px;
	border-radius: 15px;
	border-radius: 2px solid white;
}

#search, h1 {
	padding: 10px;
	text-align: center;
}

h1 {
	font-family: helvetica;
	font-size: 1.5em;
}

.inpokedex {
	margin: auto;
	width: 250px;
	padding: 20px;
	border-radius: 15px;
	background-color: #AFAFAF;
	border : 2px solid white;
}

p {
	font-family: helvetica;
	padding: 5px;
}

#mydiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#AFAFAF;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

a {
	text-decoration: none;
	color: black;
}

#map {
    height:100%;
    width:100%;
}
.infoWindowContent {
	font-family: helvetica;
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    width: 180px;
    overflow: hidden;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

.right {
	float: right;
}